.App{
    display:flex;
    flex-direction:column;
    text-align:center;
}

.plate{
    display:flex;
    justify-content:center;
    align-items:center;
    height:3rem;
    width:11rem;
    letter-spacing:0.20rem;
    font-size:18px;
    background-color:rgb(199, 191, 191);
    color:blue;
    font-weight:600;
    margin-left:37rem;
}
#run{
    color:white;
}
#gilli{
    color:rgb(235, 66, 66);
}
.btns{
    display:inline;
}
.summ{
    display:flex;
}
span{
    display: inline;
}
