.App{
    display:flex;
    flex-direction:column;
    text-align:center;
    gap:1rem;
}
.title{
    letter-spacing: 0.23rem;
    font-weight:800;
    font-size:2.5rem;
}
.underline{
    border-bottom:5px solid rgb(104, 100, 100);
    width:10rem;
    margin-top:-2rem;
    margin-left:37rem;
    
    
}

.plate{
    display:flex;
    justify-content:center;
    align-items:center;
    height:3rem;
    width:11rem;
    letter-spacing:0.20rem;
    font-size:18px;
    background-color:rgb(199, 191, 191);
    color:blue;
    font-weight:600;
    position:fixed;
    left:37rem;
    top:7rem;
    
}
#run{
    color:white;
}
#gilli{
    color:rgb(235, 66, 66);
}
.btns{
    display:inline;
    margin-top:6rem;
}
span{
    display: inline;
}
